body {
  margin:0;
  font-family: robotomedium ;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(./KimiNoNaWa_Images2/knwbg.webp);
  background-position:center; /*centering of image*/
}

/*Top Part*/
/*styling of banner*/
.toppity{
  border-style:solid;
  border-width:0.5px;
  border-bottom-color:white;
  height:100vh; /*Whole screen */
  /*bg image positioning */
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed; /* Parallax screen */
  position:relative;
  z-index:1; /*higher than the sidebar */
}

.toppity h1{
  text-align:center;
  color:white;
  font-size: 4em;
  margin:50vh 50vh 0 50vh; /*Centering text*/
}

/*text below */
.toppity h3{
  text-align:center;
  color:white;
  margin:0 50vh 50vh 50vh;
}

.animeK_info{
  height:100vh; /*whole screen*/
}

/*Content*/
/*Styling of content*/
.inform{
  margin: 56px 250px; /*Centering of div*/
  border: 1px solid white ;
  background-image:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55))/*, url(./KimiNoNaWa_Images/contentbg.webp)*/;
  /*bg image styling */
  background-attachment: fixed;
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
}

.inform p{
  font-size:1.25em;
}


/*Footer*/
#footer2{
  font-size:1.3em;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25)) , url(./KimiNoNaWa_Images2/silence.webp);
}

/*link color*/
a {
  color:#00FFFF;
}


/*Centering*/
iframe {
  display:block;
  margin:auto;
}

video{
  width:50%;
  display:block;
  margin:auto;
}


/*Responsiveness*/
/*makes it full width on fone*/
@media(max-width:660px){
  video{
    width:100vw;
  }
  td{
    padding:0;
  }
  iframe{
    width:100vw;
  }

  .toppity h3{
    margin:0;
  }
}



@media screen and (max-width:845px){

  iframe{
    margin:0;
  }

  video{
    margin:0;
  }
}

@media screen and (max-width:370px){

  table{
    font-size:0.75em; /*makes table fit */
  }

}


@media only screen and (max-width: 1255px){
  /*full width to screen*/
  body{
    width:100%;
  }
  .toppity{
    width:100vw;
    background-position: center;
    background-size:cover;
    height:50vh;
  }
  .toppity h1{
    margin:10vh 0 0 0;
  }
  .sidenav a{
    display:none;

  }
  .animeK_info{
    width:100vw;
  }

  #active{
    border:3px solid white;
  }

  .inform{
    width:100%;
    margin:0;
    display:inline-block;
    background-color: black;
  }
}


/*because of bootstrap*/
@media screen and (max-device-width: 523px){
  .lol{
    display:block !important;
    background-color:rgba(0,0,0,0) !important;
    width:90% !important;
  }
  .lol li{
    margin:0 !important;
  }
}
